* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
    overflow-x:hidden ;
    width: 100vw;
    font-family: 'Public Sans', sans-serif;
}

input, button {
  border: none;
  background-color: transparent;
}


a {
  text-decoration: none;
}