header {
    background-color: var(--white);
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 100vw;
}

.navigation li{
    display: inline-block;
}

.navigation li a {
    position: relative;
    margin-left: 20px;
    color: var(---grayish-blue);
}

.navigation li a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -35px;
    width: 0;
    height: 4px;
    background: var(--grayish-blue);
    transition: all .5s;
}

.navigation li a:hover::after {
    width: 100%;
}

.dropdown-toggle {
    display: none;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

span, p {
    color: var(--grayish-blue);
}