.details {
  background-color: var(--very-light-gray);
  display: grid;
  grid-template-columns: 40% 60%;
  height: 90vh;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.brief_details {
  display: flex;
  flex-direction: column;
  width: 70%;
  transform: translate(40%,-40%);
}

.request_invite_btn {
  display: grid;
  border: none;
  outline: none;
  all: unset;
  width: 7em;
  background: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: var(--white);
  margin:20px 0;
  padding: 10px 40px;
  text-align: center;
  border-radius: 40px;
  cursor: pointer;
}

.brief_details h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.mockup {
  background: url('./images/bg-intro-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50px;
  background-position-y: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mockup-img {
  width: 85%;
  transform: translate(140px,-50px);
}